@model HRP.Arbis.Models.ForgotViewModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = null;
}
<head>
    <link rel="stylesheet" href="@Url.Content("~/Assets/vendor/bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Assets/vendor/fonts/circular-std/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/Assets/libs/css/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/Assets/vendor/fonts/fontawesome/css/fontawesome-all.css")">
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
</head>
<div class="splash-container">
    <div class="card">
        <div class="card-header text-center"><img class="logo-img" src="../assets/images/logo.png" alt="logo"><span class="splash-description">Lütfen Sistem Bilgilerini Giriniz</span></div>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text" name="email" id="email" placeholder="Kurum Kodunuz">
                </div>
                <input class="form-group pt-1 btn btn-block btn-primary btn-xl" type="submit" value="Şifreyi Değiştir" />
            }
        </div>
    </div>
</div>

