@model HRP.Arbis.Models.ServerParamaterViewModel
@{
    ViewBag.Title = "EditParameter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <div class="card">
        <h5 class="card-header">@Model.key_str Parametresini Düzenle</h5>
        @Html.ValidationSummary()
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-group row">
                    <label for="inputEmail2" class="col-3 col-lg-2 col-form-label text-right">@Html.LabelFor(x => x.key_str)</label>
                    <div class="col-9 col-lg-10">
                        <input id="key_str" type="text" name="key_str" class="form-control" value="@Html.ValueFor(x=>x.key_str)">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail2" class="col-3 col-lg-2 col-form-label text-right">@Html.LabelFor(x => x.value_str)</label>
                    <div class="col-9 col-lg-10">
                        <input id="value_str" type="text" name="value_str" class="form-control" value="@Html.ValueFor(x=>x.value_str)">
                    </div>
                </div>
                <div class="row pt-2 pt-sm-5 mt-1">
                    <div class="col-sm-6 pl-0">
                        <p class="text-right">
                            <button type="submit" class="btn btn-space btn-primary">Kaydet</button>
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

