<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/vendor/bootstrap/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/vendor/fonts/circular-std/style.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/libs/css/style.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/vendor/fonts/fontawesome/css/fontawesome-all.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/vendor/charts/chartist-bundle/chartist.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/vendor/charts/morris-bundle/morris.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/vendor/charts/c3charts/c3.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/vendor/fonts/flag-icon-css/flag-icon.min.css")" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js" type="text/javascript"></script>
    <title>HRP-ARBIS Sistemi</title>
    <script>
        function GetMenu() {
            var html = '';
            $.ajax({
                type: "GET",
                url: "/Request/Menu/",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $.each(response, function (value, item) {
                        if (item.Nested === '0') {
                            html += '<li class="nav-item"><a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#' + item.Id + '" aria-controls="' + item.Id + '"><i class="' + item.Icon + '"></i>' + item.Name + '</a>';
                            html += ' <div id="' + item.Id + '" class="collapse submenu">';
                            html += '<ul class="nav flex-column">';
                            $.each(response, function (sub_value, sub_item) {
                                if (item.Id === sub_item.Nested) {
                                    html += '<li class="nav-item"> <a class="nav-link" href="/' + sub_item.Controller + '/' + sub_item.Action + '"><i class="' + sub_item.Icon + '"></i>' + sub_item.Name + '</a></li>';
                                }
                            });
                            html += '</ul></div>';
                        }
                    });
                    $('#FarukNavigation').append(html)
                }
            })
        }
    </script>
</head>
<body onload="GetMenu()">
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="/Home/Index">HRP-ARBIS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">                       
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="@Url.Content("~/Assets/images/avatar-1.jpg")" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">@User.Identity.Name </h5>
                                </div>
                                <a class="dropdown-item" href="/Account/EditAccount"><i class="fas fa-user mr-2"></i>Hesabım</a>                                
                                <a class="dropdown-item" href="/Account/LogOff"><i class="fas fa-power-off mr-2"></i>Çıkış Yap</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column" id="FarukNavigation">
                            <li class="nav-divider">
                                Menu
                            </li>                            
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">HRP-ARBIS Sistemi </h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()" class="breadcrumb-link">@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">@HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString()</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="@Url.Content("~/Assets/vendor/jquery/jquery-3.3.1.min.js")"></script>
    <!-- bootstap bundle js -->
    <script src="@Url.Content("~/Assets/vendor/bootstrap/js/bootstrap.bundle.js")"></script>
    <!-- slimscroll js -->
    <script src="@Url.Content("~/Assets/vendor/slimscroll/jquery.slimscroll.js")"></script>
    <!-- main js -->
    <script src="@Url.Content("~/Assets/libs/js/main-js.js")"></script>
    <!-- chart chartist js -->
    <script src="@Url.Content("~/Assets/vendor/charts/chartist-bundle/chartist.min.js")"></script>
    <!-- sparkline js -->
    <script src="@Url.Content("~/Assets/vendor/charts/sparkline/jquery.sparkline.js")"></script>
    <!-- morris js -->
    <script src="@Url.Content("~/Assets/vendor/charts/morris-bundle/raphael.min.js")"></script>
    <script src="@Url.Content("~/Assets/vendor/charts/morris-bundle/morris.js")"></script>
    <!-- chart c3 js -->
    <script src="@Url.Content("~/Assets/vendor/charts/c3charts/c3.min.js")"></script>
    <script src="@Url.Content("~/Assets/vendor/charts/c3charts/d3-5.4.0.min.js")"></script>
    <script src="@Url.Content("~/Assets/vendor/charts/c3charts/C3chartjs.js")"></script>
    <script src="@Url.Content("~/Assets/libs/js/dashboard-ecommerce.js")"></script>
</body>
</html>