@model IEnumerable<HRP.Arbis.Models.SchoolViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}
<script>
    function deleteSchool(id) {
        $.ajax({
            type: "GET",
            url: "/Request/DeleteSchool?id=" + id,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response === true) {
                    document.getElementById(id).remove();
                }
            }
        })
    }
</script>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
        <h5 class="card-header">Okullar</h5>
        <div class="card-body">
            <a href="/School/Create">
                <button class="btn btn-primary">
                    <i class="fas fa-plus">
                        Yeni Okul Oluştur
                    </i>
                </button>
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered first">
                    <thead>
                        <tr>
                            <th>@Html.LabelFor(x => x.FirstOrDefault().Name)</th>
                            <th>@Html.LabelFor(x => x.FirstOrDefault().E_Mail)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="@item.Id">
                                <td>@item.Name</td>
                                <td>@item.E_Mail</td>
                                <td>
                                    <a href="#">
                                        <i class="fas fa-trash-alt" style="cursor:pointer" data-toggle="modal" data-target="#@count">
                                            Sil
                                        </i>
                                    </a>
                                </td>
                            </tr>
                            {
                                count++;
                            }
                        }
                        @{
                            count = 0;
                        }
                    </tbody>
                </table>
            </div>
            @foreach (var item in Model)
            {
                <div class="modal fade" id="@count" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">@item.Name Okulunu Silmek İstiyor Musunuz?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Bu Okulu Silmek Sisteme Zarar Verebilir.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Vazgeç</button>
                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="deleteSchool('@item.Id')">Sil</button>
                            </div>
                        </div>
                    </div>
                </div>
                {
                    count = count + 1;
                }
            }
        </div>
    </div>
</div>



